{% extends 'base.html' %}

{% block navbar %}
    {% include "navbar2.html" %}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show auto-dismiss-alert" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'logout' %}" method="POST"> 

        {% csrf_token %}



        <button type="submit" class="btn btn-primary">Log out</button>

    </form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            document.querySelectorAll('.auto-dismiss-alert').forEach(function(alert) {
                var bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
                bsAlert.close();
            });
        }, 3000); //3 seconds
    });
</script>

{% endblock %}