{% load static %}

<!-- <style>
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
</style> -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img {% load static %} src="{% static 'images/Logo2.png' %}" height="60" alt="oralsmart logo" loading="lazy" />
            </a>
            
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'create_patient' %}">New patient</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'patient_list' %}">History</a>
                </li>
            </ul>
        </div>

        <div class="d-flex align-items-center">

            <div class="dropdown">
                <a href="{% url 'profile' %}" class="d-flex align-items-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                         class="rounded-circle" height="45" alt="avatar" loading="lazy" />
                </a>
            </div>
        </div>
    </div>
</nav>