<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          {% load static %}
          src="{% static 'images/Logo.png' %}"
          height="45"
          alt="oralsmart logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item mx-3">
            <a class="nav-link" href="#">New patient</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" href="#">Referrals</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" href="#">History</a>
        </li>
        </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <div class="dropdown">
  <a href="{% url 'profile' %}" class="d-flex align-items-center">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
      class="rounded-circle"
      height="45"
      alt="avatar"
      loading="lazy"
    />
  </a>
</div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->