{% extends 'base.html' %}

{% block content %}

    {% if message %}
            
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}

    <form action="{% url 'Logout' %}" method="POST"> 

        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

{% endblock %}