{% extends 'base.html' %}
{% block navbar %}
    {% include "navbar2.html" %}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show auto-dismiss-alert" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            document.querySelectorAll('.auto-dismiss-alert').forEach(function(alert) {
                var bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
                bsAlert.close();
            });
        }, 3000); //3 seconds
    });
    </script>

    <section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
                    <form action="{% url 'logout' %}" method="POST"> 
                        {% csrf_token %}
                        <button onclick="history.back()" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Back</button>
                    </form>
            </ol>
            </nav>
        </div>
        </div>

        <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{ first_name|default:'No first name provided' }} {{ last_name|default:'No last name provided' }}</h5>
                <p class="text-muted mb-1">{{ profession|default:'No profession provided' }}</p>
                <p class="text-muted mb-4">{{ address|default:'No address provided' }}</p>
                <div class="d-flex justify-content-center mb-2">
                    <form action="{% url 'logout' %}" method="POST"> 
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Log out</button>
                    </form>
                <a href="{% url 'change_password' %}" class="btn btn-outline-primary ms-1" data-mdb-button-init data-mdb-ripple-init>Change Password</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ first_name|default:'No first name provided' }} {{ last_name|default:'No last name provided' }}</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ email|default:'No email provided' }}</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ phone|default:'No phone number provided' }}</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ address|default:'No address provided' }}</p>
                </div>
                </div>
            </div>
            </div>
        
        </div>
        </div>
    </div>
    </section>

{% endblock %}