{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show auto-dismiss-alert" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="card shadow" style="width: 100%; max-width: 1000px;">
            <div class="card-body p-4">
                <form action="{% url 'register_user' %}" method="POST"> 

                    {% csrf_token %}

                    <div class="pt-3 text-center">
                        <h1>Register to use <span style="color: #007bff; font-weight: bold;">OralSmart</span></h1>
                    </div>
                    
                    <div class="form-floating mb-3">
                        {{ form.username }}
                        <label for="id_username">Username</label>
                        {% if form.username.errors %}
                            <div class="text-danger small">{{ form.username.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.first_name }}
                        <label for="id_first_name">First Name</label>
                        {% if form.first_name.errors %}
                            <div class="text-danger small">{{ form.first_name.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.last_name }}
                        <label for="id_last_name">Last Name</label>
                        {% if form.last_name.errors %}
                            <div class="text-danger small">{{ form.last_name.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.email }}
                        <label for="id_email">Email address</label>
                        {% if form.email.errors %}
                            <div class="text-danger small">{{ form.email.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="health_professional_body" name="health_professional_body" required>
                            <option value="">Select Your Council</option>
                            <option value="HPCSA">Health Professions Council of South Africa</option>
                            <option value="SANC">South African Nursing Council</option>
                        </select>
                        <label for="profession">Choose your Authority Council/Body</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="profession" name="profession" required>
                            <option value="">Select your profession</option>
                        </select>
                        <label for="profession">Profession</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" name= "reg_num" class="form-control" id="reg_num" placeholder="Enter Council Registration Number" required>
                        <label for="floatingInput">Enter Council Registration Number</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.password1 }}
                        <label for="id_password1">Password</label>
                        {% if form.password1.errors %}
                            <div class="text-danger small">{{ form.password1.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.password2 }}
                        <label for="id_password2">Confirm Password</label>
                        {% if form.password2.errors %}
                            <div class="text-danger small">{{ form.password2.errors.0 }}</div>
                        {% endif %}
                    </div>

                    <div class="pt-3 text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>


                    <div class="text-center mt-3">
                        <p>Already Registered With OralSmart?<a href="{% url 'login' %}">Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        //Automatically dismisses the the message alerts 
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                document.querySelectorAll('.auto-dismiss-alert').forEach(function(alert) {
                    var bsAlert = bootstrap.Alert.getOrCreateInstance(alert);
                    bsAlert.close();
                });
            }, 5000); //10 seconds
        });

        //For the dependent dropdown
        document.addEventListener('DOMContentLoaded', function() {
        const authoritySelect = document.getElementById('health_professional_body');
        const professionSelect = document.getElementById('profession');

        authoritySelect.addEventListener('change', function() {
            const selectedBody = this.value;
            professionSelect.innerHTML = '<option value="">Loading...</option>';
            if (selectedBody) {
                fetch(`/ajax/get_professions/?body=${selectedBody}`)
                    .then(response => response.json())
                    .then(data => {
                        professionSelect.innerHTML = '<option value="">Select your profession</option>';
                        data.professions.forEach(function(prof) {
                            const option = document.createElement('option');
                            option.value = prof.value;
                            option.text = prof.text;
                            professionSelect.appendChild(option);
                        });
                    });
            } else {
                professionSelect.innerHTML = '<option value="">Select your profession</option>';
            }
        });
        });

        //Checks if the passwords Match
        const form = document.querySelector('form');
        const password1 = document.getElementById('password1');
        const password2 = document.getElementById('password2');

        form.addEventListener('submit', function(e) {
            if (password1.value !== password2.value) {
                e.preventDefault();
                alert("Passwords do not match!");
                password2.focus();
            }
        });
        
    </script>

{% endblock %}